{
  "extends": [ "eslint:recommended", "defaults/configurations/google" ],
  "plugins": [ "angular" ],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  },
  "rules": {
    "dot-location": 0,
    "valid-jsdoc": 0,
    "max-len": [2, 120, 2, { "ignoreComments": true, "ignoreUrls": true }],
    "no-multi-str": 0
  }
}
